<!-- views/edit-product.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
  <link rel="stylesheet" href="/styles/admin/create-product.css" />
</head>
<body>
  <div class="register-container">
    <div class="register-box">
      <div class="logo">
        <img src="/images/logo.png" alt="Crown Source Logo" />
      </div>
      <h1>Edit Product.</h1>
      <form action="/admin/product/edit/<%= product._id %>" method="post" enctype="multipart/form-data">
        <input
          type="text" 
          name="name"
          placeholder="Enter Product Name"
          required
          value="<%= product.name %>"
        />
        <textarea
          name="description"
          id="description"
          placeholder="Enter Description"
          required
        ><%= product.description %></textarea>
        <div class="two">
          <input type="number" name="price" placeholder="Price" required value="<%= product.price %>" />
          <input type="number" name="stock" placeholder="Stock" required value="<%= product.stock %>" />
        </div>
        <div class="category">
          <label for="category">Category : </label>
          <select id="category" name="category" required>
            <option value="">Select a Category</option>
            <option value="mix" <%= product.category === 'mix' ? 'selected' : '' %>>Mix</option>
            <option value="acp" <%= product.category === 'acp' ? 'selected' : '' %>>Acp</option>
          </select>
        </div>
        <input type="file" accept="image/*" name="image">
        <button type="submit">Update Product</button>
      </form>
    </div>
  </div>
</body>
</html>
