<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page | Crown Sourcing</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/partials/admin-navbar.css" />
  </head>
  <style>
    * {
  font-family: "poppins";
}

h2 {
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
  font-size: 21px;
}

main {
  margin: 20px auto;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 15px;
}

.box {
  width: 45vw;
  height: 20vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.info h3 {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #d4af37;
  text-align: center;
  line-height: 1;
}

.info img {
  width: 50px;
}

.details p {
  font-size: 16px;
}

  </style>
  <body>
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/flash.ejs') %> <%-
    include('../partials/admin-navbar.ejs') %>
    <h2>Welcome <%= user.username %> 👋</h2>
    <main>
      <div class="boxes">
        <a href="/admin/users">
          <div class="box">
            <div class="info">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="40"
                height="40"
                x="0"
                y="0"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
                class=""
              >
                <g>
                  <path
                    d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z"
                    fill="#d4af37"
                    opacity="1"
                    data-original="#000000"
                  ></path>
                </g>
              </svg>
              <h3>User</h3>
            </div>
            <div class="details">
              <p>Total Users : <%= users.length %></p>
            </div>
          </div>
        </a>
        <a href="/admin/products">
          <div class="box">
            <div class="info">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="45"
                height="45"
                x="0"
                y="0"
                viewBox="0 0 511.414 511.414"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
              >
                <g>
                  <path
                    d="M497.695 108.838a16.002 16.002 0 0 0-9.92-14.8L261.787 1.2a16.003 16.003 0 0 0-12.16 0L23.639 94.038a16 16 0 0 0-9.92 14.8v293.738a16 16 0 0 0 9.92 14.8l225.988 92.838a15.947 15.947 0 0 0 12.14-.001c.193-.064-8.363 3.445 226.008-92.837a16 16 0 0 0 9.92-14.8zm-241.988 76.886-83.268-34.207L352.39 73.016l88.837 36.495zm-209.988-51.67 71.841 29.513v83.264c0 8.836 7.164 16 16 16s16-7.164 16-16v-70.118l90.147 37.033v257.797L45.719 391.851zM255.707 33.297l55.466 22.786-179.951 78.501-61.035-25.074zm16 180.449 193.988-79.692v257.797l-193.988 79.692z"
                    fill="#d4af37"
                    opacity="1"
                    data-original="#000000"
                  ></path>
                </g>
              </svg>
              <h3>Products</h3>
            </div>
            <div class="details">
              <p>Total Products : <%= products.length %></p>
            </div>
          </div>
        </a>
        <a href="/admin/orders">
          <div class="box">
            <div class="info">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="50"
                height="50"
                x="0"
                y="0"
                viewBox="0 0 66 66"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
                class=""
              >
                <g>
                  <path
                    d="M55.16 1.11H10.84c-3.46 0-6.27 2.81-6.27 6.27v56.53a.966.966 0 0 0 1.59.74l4.92-4.21 4.91 4.21c.36.31.9.31 1.26 0l4.91-4.21 4.91 4.21c.36.31.9.31 1.26 0l4.91-4.21 4.91 4.21c.36.31.9.31 1.26 0l4.91-4.21 4.91 4.21c.18.15.4.23.63.23a.971.971 0 0 0 .96-.97V16.98h9.65c.53 0 .97-.43.97-.97V7.39c-.01-3.46-2.82-6.28-6.28-6.28zm-6.28 60.71-3.94-3.38a.97.97 0 0 0-1.26 0l-4.91 4.21-4.91-4.21a.97.97 0 0 0-1.26 0l-4.91 4.21-4.91-4.21a.97.97 0 0 0-1.26 0l-4.91 4.21-4.91-4.21a.97.97 0 0 0-1.26 0L6.5 61.82V7.39c0-2.39 1.95-4.34 4.34-4.34h39.8a6.28 6.28 0 0 0-1.76 4.34v8.62zM59.5 15.05h-8.68V7.39c0-2.39 1.95-4.34 4.34-4.34S59.5 5 59.5 7.39z"
                    fill="#d4af37"
                    opacity="1"
                    data-original="#000000"
                    class=""
                  ></path>
                  <path
                    d="M27.81 14.73c0-5.18-4.21-9.39-9.39-9.39s-9.39 4.21-9.39 9.39 4.21 9.39 9.39 9.39 9.39-4.21 9.39-9.39zm-9.39 7.46c-4.11 0-7.46-3.35-7.46-7.46s3.34-7.46 7.46-7.46 7.46 3.35 7.46 7.46-3.35 7.46-7.46 7.46z"
                    fill="#d4af37"
                    opacity="1"
                    data-original="#000000"
                    class=""
                  ></path>
                  <path
                    d="M18.42 11.74c.69 0 1.28.44 1.28.96a.97.97 0 0 0 1.94 0c0-1.29-.95-2.37-2.25-2.74v-.23a.97.97 0 0 0-1.94 0v.23c-1.3.37-2.25 1.45-2.25 2.74 0 1.6 1.44 2.89 3.21 2.89.69 0 1.28.44 1.28.96s-.59.96-1.28.96c-.41 0-.79-.15-1.04-.41a.787.787 0 0 1-.24-.55.97.97 0 0 0-1.94 0c0 .69.27 1.36.77 1.89.39.41.91.7 1.47.86v.44a.97.97 0 0 0 1.94 0v-.44c1.3-.37 2.25-1.45 2.25-2.74 0-1.6-1.44-2.89-3.21-2.89-.69 0-1.28-.44-1.28-.96.01-.53.6-.97 1.29-.97zM46.24 9.48H30.05a.97.97 0 0 0 0 1.94h16.19a.97.97 0 0 0 0-1.94zM46.24 13.77H33.47a.97.97 0 0 0 0 1.94h12.77a.97.97 0 0 0 0-1.94zM46.24 18.05h-2.65a.97.97 0 0 0 0 1.94h2.65a.97.97 0 0 0 0-1.94zM39.27 19.99a.97.97 0 0 0 0-1.94h-9.22a.97.97 0 0 0 0 1.94zM19.76 31.9a.97.97 0 0 0-.97.97v3.56c0 .2-.16.36-.36.36h-7.11c-.2 0-.36-.16-.36-.36v-7.11c0-.2.16-.36.36-.36h5.72a.97.97 0 0 0 0-1.94h-5.72c-1.26 0-2.29 1.03-2.29 2.29v7.11c0 1.26 1.03 2.29 2.29 2.29h7.11c1.26 0 2.29-1.03 2.29-2.29v-3.56a.96.96 0 0 0-.96-.96zM46.24 29.09H24.43a.97.97 0 0 0 0 1.94h21.82c.53 0 .97-.43.97-.97s-.44-.97-.98-.97zM46.24 34.7H33.79a.97.97 0 0 0 0 1.94h12.45a.97.97 0 0 0 0-1.94zM24.43 36.64h4.52a.97.97 0 0 0 0-1.94h-4.52a.97.97 0 0 0 0 1.94z"
                    fill="#d4af37"
                    opacity="1"
                    data-original="#000000"
                    class=""
                  ></path>
                  <path
                    d="M13.19 32.42c-.38-.38-.99-.38-1.37 0s-.38.99 0 1.37l1.72 1.72a.97.97 0 0 0 1.36 0l4.46-4.46c.38-.38.38-.99 0-1.37s-.99-.38-1.37 0l-3.78 3.77zM46.24 44.1H24.43a.97.97 0 0 0 0 1.94h21.82c.53 0 .97-.43.97-.97s-.44-.97-.98-.97zM46.24 49.71h-3.86a.97.97 0 0 0 0 1.94h3.86a.97.97 0 0 0 0-1.94zM37.54 49.71H24.43a.97.97 0 0 0 0 1.94h13.12c.53 0 .97-.43.97-.97s-.44-.97-.98-.97zM17.83 42.02h-5.89c-1.6 0-2.9 1.3-2.9 2.9v5.89c0 1.6 1.3 2.9 2.9 2.9h5.89c1.6 0 2.9-1.3 2.9-2.9v-5.89c-.01-1.6-1.31-2.9-2.9-2.9zm.96 8.79c0 .53-.43.97-.97.97h-5.89a.97.97 0 0 1-.97-.97v-5.89c0-.53.43-.97.97-.97h5.89c.53 0 .97.43.97.97z"
                    fill="#d4af37"
                    opacity="1"
                    data-original="#000000"
                    class=""
                  ></path>
                </g>
              </svg>
              <h3>Orders</h3>
            </div>
            <div class="details">
              <p>Total Orders : <%= orders.length %></p>
            </div>
          </div>
        </a>
        <a href="/admin/payments">
          <div class="box">
            <div class="info">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="50"
                height="50"
                x="0"
                y="0"
                viewBox="0 0 8.467 8.467"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
                class=""
              >
                <g>
                  <path
                    d="M4.233.265A3.973 3.973 0 0 0 .265 4.233a3.973 3.973 0 0 0 3.968 3.97 3.973 3.973 0 0 0 3.97-3.97A3.973 3.973 0 0 0 4.232.265zm0 .529a3.437 3.437 0 0 1 3.442 3.44 3.44 3.44 0 0 1-3.442 3.441 3.437 3.437 0 0 1-3.44-3.442 3.436 3.436 0 0 1 3.44-3.44zM4.23 2.118a.265.265 0 0 0-.26.268v.223c-.427.08-.793.355-.793.832 0 .33.15.598.35.754s.426.224.624.29c.199.067.37.13.467.206.098.075.144.14.144.338 0 .44-1.056.44-1.056 0a.265.265 0 1 0-.529 0c0 .476.366.752.793.832v.222a.265.265 0 1 0 .529 0V5.86c.427-.08.793-.356.793-.832 0-.331-.15-.599-.35-.754-.2-.156-.426-.226-.624-.292-.199-.066-.37-.129-.468-.204-.097-.076-.144-.14-.144-.338 0-.441 1.056-.441 1.056 0a.265.265 0 1 0 .53 0c0-.476-.366-.751-.793-.832v-.223a.265.265 0 0 0-.27-.268z"
                    fill="#d4af37"
                    opacity="1"
                    data-original="#000000"
                    class=""
                  ></path>
                </g>
              </svg>
              <h3>Payments</h3>
            </div>
            <div class="details">
              <p>Total Payments : <%= payments.length %></p>
            </div>
          </div>
        </a>
      </div>
    </main>
  </body>
</html>
