<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details | Crown Sourcing</title>
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/admin-navbar.css" />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
  </head>
  <style>
    * {
      font-family: "poppins";
    }

    strong {
      font-weight: 500;
      color: #fff;
    }

    .profile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      max-width: 96vw;
      margin: 10px auto;
      margin-bottom: 110px;
    }

    .user-info h1 {
      font-size: 1.8rem;
      color: #d4af37;
      font-weight: 600;
    }

    .user-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .user-info p {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .recent-orders,
    .recent-payments {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
    }

    .profile-container h3 {
      font-weight: 500;
      color: #d4af37;
      font-size: 1.2rem;
    }

    .profile-container h4 {
      font-size: 1.1rem;
      font-weight: 500;
    }

    .profile-container a {
      text-decoration: none;
      color: #d4af37;
    }

    .orders,
    .payments {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      border-radius: 5px;
      gap: 5px;
    }

    .order,
    .payment {
      background: #313131;
      border-radius: 10px;
      padding: 5px 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .table table {
      width: 100%;
    }

    th,
    td {
      text-align: center;
      font-size: 16px;
    }

    th {
      font-size: 20px;
      font-weight: 500;
    }

    .pending {
      color: yellow;
    }

    .rejected {
      color: red;
    }

    .approved {
      color: lightgreen;
    }

    p.no {
      color: gray;
    }
  </style>
  <body>
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/admin-navbar.ejs') %> <%-
    include('../partials/flash.ejs') %>

    <div class="profile-container">
      <h2>User Details</h2>
      <% if (user) { %>
      <div class="user-info">
        <p><strong>Name:</strong> <%= user.username %></p>
        <p><strong>Role:</strong> <%= user.role %></p>
        <p>
          <strong>ACP Balance:</strong> <%= user.balanceACP.toLocaleString() %>
        </p>
        <p>
          <strong>MIX Balance:</strong> <%= user.balanceMix.toLocaleString() %>
        </p>
        <p>
          <strong>Total Balance:</strong> <%= (user.balanceMix +
          user.balanceACP).toLocaleString() %>
        </p>
      </div>

      <div class="recent-payments">
        <h3>Recent Payments</h3>
        <% if (user.payments && user.payments.length > 0) { %>
        <div class="payments">
          <% user.payments.forEach(payment => { %>
          <div class="payment">
            <div class="top">
              <h4>Payment No <%= payment.userPaymentId %></h4>
              <p class="<%= payment.status.toLowerCase() %>">
                <strong>Status : </strong>
                <%= payment.status %>
              </p>
            </div>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= formatDate(payment.createdAt) %></td>
                    <td>Rs: <%= payment.amount.toLocaleString() %></td>
                    <td><%= payment.category %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <% }) %>
        </div>
        <% } else { %>
        <p class="no">No recent payments found.</p>
        <% } %>
      </div>

      <div class="recent-orders">
        <h3>Recent Orders</h3>
        <% if (user.orders && user.orders.length > 0) { %>
        <div class="orders">
          <% user.orders.forEach(order => { %>
          <div class="order">
            <div class="top">
              <h4>Order No <%= order.userOrderId %></h4>
              <p class="<%= order.status.toLowerCase() %>">
                <strong>Status : </strong>
                <%= order.status %>
              </p>
            </div>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= formatDate(order.orderDate) %></td>
                    <td>Rs: <%= order.total.toLocaleString() %></td>
                    <td><%= order.category.toUpperCase() %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <% }) %>
        </div>
        <% } else { %>
        <p class="no">No recent orders found.</p>
        <% } %>
      </div>

      <% } else { %>
      <div class="error">
        <p>User not found.</p>
      </div>
      <% } %> <% if (user && user.payments.length === 0 && user.orders.length
      === 0) { %>
      <div class="error">
        <p>No recent payments or orders found.</p>
      </div>
      <% } %>
    </div>
  </body>
</html>
