<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users | Crown Sourcing</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/admin-navbar.css" />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/admin/users.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/admin-navbar.ejs') %>
    <%- include('../partials/flash.ejs') %>
    <div class="top">
      <h2>List of All Users</h2>
      <a href="/auth/register"><i class="ri-add-box-fill"></i></a>
    </div>

    <!-- Filter Buttons -->
    <div class="filter-buttons">
      <p>Filter By Role :</p>
      <button onclick="filterUsers('all')">All</button>
      <button onclick="filterUsers('Admin')">Admin</button>
      <button onclick="filterUsers('User')">User</button>
    </div>

    <% if (users.length) { %>
    <div class="users">
      <table class="roundedCorners">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.reverse().forEach((user, index) => { %>
          <tr class="user" data-role="<%= user.role %>">
            <td><%= index + 1 %></td>
            <td><%= user.username %></td>
            <td><%= user.balance.toLocaleString() %></td>
            <td><%= user.role %></td>
            <td>
              <div class="actions">
                <a class="edit" href="/admin/user/edit/<%= user._id %>"
                  ><i class="ri-edit-box-line"></i
                ></a>
                <form
                  action="/admin/user/delete/<%= user._id %>"
                  method="post"
                >
                  <button type="submit" class="delete">
                    <i class="ri-delete-bin-2-line"></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <p class="end">End Of List</p>
    <% } else { %>
    <div class="no-users">
      <p>No Users Found Yet.</p>
      <a href="/auth/register">Create One</a>
    </div>
    <% } %>

    <script>
      function filterUsers(role) {
        const users = document.querySelectorAll('.user');
        users.forEach(user => {
          if (role === 'all') {
            user.style.display = 'table-row';
          } else if (user.getAttribute('data-role') === role) {
            user.style.display = 'table-row';
          } else {
            user.style.display = 'none';
          }
        });
      }
    </script>
  </body>
</html>
