<nav class="<%= path === '' ? 'active' : '' %>">
  <ul>
    <li>
      <a href="/admin/users"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="40"
          height="40"
          x="0"
          y="0"
          viewBox="0 0 512 512"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
          class=""
        >
          <g>
            <path
              d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
            ></path>
          </g>
        </svg>
        <p class="<%= path.startsWith('/admin/users') ? 'active' : '' %>">
          Users
        </p>
      </a>
    </li>
    <li>
      <a href="/admin/products">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="45"
          height="45"
          x="0"
          y="0"
          viewBox="0 0 511.414 511.414"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
        >
          <g>
            <path
              d="M497.695 108.838a16.002 16.002 0 0 0-9.92-14.8L261.787 1.2a16.003 16.003 0 0 0-12.16 0L23.639 94.038a16 16 0 0 0-9.92 14.8v293.738a16 16 0 0 0 9.92 14.8l225.988 92.838a15.947 15.947 0 0 0 12.14-.001c.193-.064-8.363 3.445 226.008-92.837a16 16 0 0 0 9.92-14.8zm-241.988 76.886-83.268-34.207L352.39 73.016l88.837 36.495zm-209.988-51.67 71.841 29.513v83.264c0 8.836 7.164 16 16 16s16-7.164 16-16v-70.118l90.147 37.033v257.797L45.719 391.851zM255.707 33.297l55.466 22.786-179.951 78.501-61.035-25.074zm16 180.449 193.988-79.692v257.797l-193.988 79.692z"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
            ></path>
          </g>
        </svg>
        <p class="<%= path.startsWith('/admin/products') ? 'active' : '' %>">
          Products
        </p>
      </a>
    </li>
    <li>
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="45"
          height="45"
          x="0"
          y="0"
          viewBox="0 0 511 511.999"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
          class=""
        >
          <g>
            <path
              d="M498.7 222.695c-.016-.011-.028-.027-.04-.039L289.805 13.81C280.902 4.902 269.066 0 256.477 0c-12.59 0-24.426 4.902-33.332 13.809L14.398 222.55c-.07.07-.144.144-.21.215-18.282 18.386-18.25 48.218.09 66.558 8.378 8.383 19.44 13.235 31.273 13.746.484.047.969.07 1.457.07h8.32v153.696c0 30.418 24.75 55.164 55.168 55.164h81.711c8.285 0 15-6.719 15-15V376.5c0-13.879 11.293-25.168 25.172-25.168h48.195c13.88 0 25.168 11.29 25.168 25.168V497c0 8.281 6.715 15 15 15h81.711c30.422 0 55.168-24.746 55.168-55.164V303.14h7.719c12.586 0 24.422-4.903 33.332-13.813 18.36-18.367 18.367-48.254.027-66.633zm-21.243 45.422a17.03 17.03 0 0 1-12.117 5.024H442.62c-8.285 0-15 6.714-15 15v168.695c0 13.875-11.289 25.164-25.168 25.164h-66.71V376.5c0-30.418-24.747-55.168-55.169-55.168H232.38c-30.422 0-55.172 24.75-55.172 55.168V482h-66.71c-13.876 0-25.169-11.29-25.169-25.164V288.14c0-8.286-6.715-15-15-15H48a13.9 13.9 0 0 0-.703-.032c-4.469-.078-8.66-1.851-11.8-4.996-6.68-6.68-6.68-17.55 0-24.234.003 0 .003-.004.007-.008l.012-.012L244.363 35.02A17.003 17.003 0 0 1 256.477 30c4.574 0 8.875 1.781 12.113 5.02l208.8 208.796.098.094c6.645 6.692 6.633 17.54-.031 24.207zm0 0"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
              class=""
            ></path>
          </g>
        </svg>
        <p class="<%= path === '/admin' ? 'active' : '' %>">Home</p>
      </a>
    </li>
    <li>
      <a href="/admin/orders">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="45"
          height="45"
          x="0"
          y="0"
          viewBox="0 0 66 66"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
          class=""
        >
          <g>
            <path
              d="M55.16 1.11H10.84c-3.46 0-6.27 2.81-6.27 6.27v56.53a.966.966 0 0 0 1.59.74l4.92-4.21 4.91 4.21c.36.31.9.31 1.26 0l4.91-4.21 4.91 4.21c.36.31.9.31 1.26 0l4.91-4.21 4.91 4.21c.36.31.9.31 1.26 0l4.91-4.21 4.91 4.21c.18.15.4.23.63.23a.971.971 0 0 0 .96-.97V16.98h9.65c.53 0 .97-.43.97-.97V7.39c-.01-3.46-2.82-6.28-6.28-6.28zm-6.28 60.71-3.94-3.38a.97.97 0 0 0-1.26 0l-4.91 4.21-4.91-4.21a.97.97 0 0 0-1.26 0l-4.91 4.21-4.91-4.21a.97.97 0 0 0-1.26 0l-4.91 4.21-4.91-4.21a.97.97 0 0 0-1.26 0L6.5 61.82V7.39c0-2.39 1.95-4.34 4.34-4.34h39.8a6.28 6.28 0 0 0-1.76 4.34v8.62zM59.5 15.05h-8.68V7.39c0-2.39 1.95-4.34 4.34-4.34S59.5 5 59.5 7.39z"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
              class=""
            ></path>
            <path
              d="M27.81 14.73c0-5.18-4.21-9.39-9.39-9.39s-9.39 4.21-9.39 9.39 4.21 9.39 9.39 9.39 9.39-4.21 9.39-9.39zm-9.39 7.46c-4.11 0-7.46-3.35-7.46-7.46s3.34-7.46 7.46-7.46 7.46 3.35 7.46 7.46-3.35 7.46-7.46 7.46z"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
              class=""
            ></path>
            <path
              d="M18.42 11.74c.69 0 1.28.44 1.28.96a.97.97 0 0 0 1.94 0c0-1.29-.95-2.37-2.25-2.74v-.23a.97.97 0 0 0-1.94 0v.23c-1.3.37-2.25 1.45-2.25 2.74 0 1.6 1.44 2.89 3.21 2.89.69 0 1.28.44 1.28.96s-.59.96-1.28.96c-.41 0-.79-.15-1.04-.41a.787.787 0 0 1-.24-.55.97.97 0 0 0-1.94 0c0 .69.27 1.36.77 1.89.39.41.91.7 1.47.86v.44a.97.97 0 0 0 1.94 0v-.44c1.3-.37 2.25-1.45 2.25-2.74 0-1.6-1.44-2.89-3.21-2.89-.69 0-1.28-.44-1.28-.96.01-.53.6-.97 1.29-.97zM46.24 9.48H30.05a.97.97 0 0 0 0 1.94h16.19a.97.97 0 0 0 0-1.94zM46.24 13.77H33.47a.97.97 0 0 0 0 1.94h12.77a.97.97 0 0 0 0-1.94zM46.24 18.05h-2.65a.97.97 0 0 0 0 1.94h2.65a.97.97 0 0 0 0-1.94zM39.27 19.99a.97.97 0 0 0 0-1.94h-9.22a.97.97 0 0 0 0 1.94zM19.76 31.9a.97.97 0 0 0-.97.97v3.56c0 .2-.16.36-.36.36h-7.11c-.2 0-.36-.16-.36-.36v-7.11c0-.2.16-.36.36-.36h5.72a.97.97 0 0 0 0-1.94h-5.72c-1.26 0-2.29 1.03-2.29 2.29v7.11c0 1.26 1.03 2.29 2.29 2.29h7.11c1.26 0 2.29-1.03 2.29-2.29v-3.56a.96.96 0 0 0-.96-.96zM46.24 29.09H24.43a.97.97 0 0 0 0 1.94h21.82c.53 0 .97-.43.97-.97s-.44-.97-.98-.97zM46.24 34.7H33.79a.97.97 0 0 0 0 1.94h12.45a.97.97 0 0 0 0-1.94zM24.43 36.64h4.52a.97.97 0 0 0 0-1.94h-4.52a.97.97 0 0 0 0 1.94z"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
              class=""
            ></path>
            <path
              d="M13.19 32.42c-.38-.38-.99-.38-1.37 0s-.38.99 0 1.37l1.72 1.72a.97.97 0 0 0 1.36 0l4.46-4.46c.38-.38.38-.99 0-1.37s-.99-.38-1.37 0l-3.78 3.77zM46.24 44.1H24.43a.97.97 0 0 0 0 1.94h21.82c.53 0 .97-.43.97-.97s-.44-.97-.98-.97zM46.24 49.71h-3.86a.97.97 0 0 0 0 1.94h3.86a.97.97 0 0 0 0-1.94zM37.54 49.71H24.43a.97.97 0 0 0 0 1.94h13.12c.53 0 .97-.43.97-.97s-.44-.97-.98-.97zM17.83 42.02h-5.89c-1.6 0-2.9 1.3-2.9 2.9v5.89c0 1.6 1.3 2.9 2.9 2.9h5.89c1.6 0 2.9-1.3 2.9-2.9v-5.89c-.01-1.6-1.31-2.9-2.9-2.9zm.96 8.79c0 .53-.43.97-.97.97h-5.89a.97.97 0 0 1-.97-.97v-5.89c0-.53.43-.97.97-.97h5.89c.53 0 .97.43.97.97z"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
              class=""
            ></path>
          </g>
        </svg>
        <p class="<%= path.startsWith('/admin/orders') ? 'active' : '' %>">
          Orders
        </p>
      </a>
    </li>
    <li>
      <a href="/admin/payments">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="45"
          height="45"
          x="0"
          y="0"
          viewBox="0 0 8.467 8.467"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
          class=""
        >
          <g>
            <path
              d="M4.233.265A3.973 3.973 0 0 0 .265 4.233a3.973 3.973 0 0 0 3.968 3.97 3.973 3.973 0 0 0 3.97-3.97A3.973 3.973 0 0 0 4.232.265zm0 .529a3.437 3.437 0 0 1 3.442 3.44 3.44 3.44 0 0 1-3.442 3.441 3.437 3.437 0 0 1-3.44-3.442 3.436 3.436 0 0 1 3.44-3.44zM4.23 2.118a.265.265 0 0 0-.26.268v.223c-.427.08-.793.355-.793.832 0 .33.15.598.35.754s.426.224.624.29c.199.067.37.13.467.206.098.075.144.14.144.338 0 .44-1.056.44-1.056 0a.265.265 0 1 0-.529 0c0 .476.366.752.793.832v.222a.265.265 0 1 0 .529 0V5.86c.427-.08.793-.356.793-.832 0-.331-.15-.599-.35-.754-.2-.156-.426-.226-.624-.292-.199-.066-.37-.129-.468-.204-.097-.076-.144-.14-.144-.338 0-.441 1.056-.441 1.056 0a.265.265 0 1 0 .53 0c0-.476-.366-.751-.793-.832v-.223a.265.265 0 0 0-.27-.268z"
              fill="#ffffff"
              opacity="1"
              data-original="#000000"
              class=""
            ></path>
          </g>
        </svg>
        <p class="<%= path.startsWith('/admin/payments') ? 'active' : '' %>">
          Payments
        </p>
      </a>
    </li>
  </ul>
</nav>
