<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= user.username %> Cart
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" />
  <!-- Additional CSS links for styling -->
  <link rel="stylesheet" href="/styles/partials/header.css" />
  <link rel="stylesheet" href="/styles/partials/flash.css" />
  <link rel="stylesheet" href="/styles/partials/admin-navbar.css" />
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    h1 {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
    }

    .cart-items {
      margin: 5px auto;
      margin-bottom: 110px;
      max-width: 96vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .product-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      width: 100%;
    }

    .product-section h2 {
      font-weight: 500;
      color: #d4af37;
    }

    table {
      width: 100%;
      border: 1px solid white;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid white;
      text-align: center;
      font-size: 17px;
      padding: 5px 5px;
    }

    th {
      font-size: 20px;
      font-weight: 500;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form button {
      border: none;
      outline: none;
      cursor: pointer;
    }

    .delete i {
      color: red;
      font-size: 1.35rem;
    }

    .checkout {
      padding: 5px 8px;
      background: #d4af37;
      border-radius: 5px;
      font-size: 1.2rem;
      color: black;
    }

    .end {
      text-align: center;
    }

    a.continue {
      color: #d4af37;
    }

    a.continue:hover {
      text-decoration: underline;
    }

    a.continue:active {
      text-decoration: underline;
    }

    .empty {
      text-align: center;
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .empty p {
      color: gray;
    }

    .qty {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      gap: 10px;
    }

    .qty button {
      border: none;
      outline: none;
      font-size: 2rem;
    }
  </style>
</head>

<body>
  <%- include('../partials/flash.ejs') %> <%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
        %>
        <% if (cartItem.length> 0) { %>
          <h1>
            <%= user.username %> Cart
          </h1>

          <div class="cart-items">
            <% if (acpProducts.length> 0) { %>
              <div class="product-section acp-section">
                <h2>Acp Products</h2>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let totalQtyAcp=0; %>
                      <% acpProducts.forEach(item=> { %>
                        <tr>
                          <td>
                            <%= item.productId.name %>
                          </td>
                          <td id="qty-<%= item.productId._id %>" class="qty">
                            <button
                              onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', -1, '<%= item.brand %>')">
                              -
                            </button>
                            <span class="quantity">
                              <%= item.quantity %>
                            </span>
                            <button
                              onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', 1, '<%= item.brand %>')">
                              +
                            </button>
                          </td>
                          <td>
                            <form action="/user/cart/delete/<%= item.productId._id %>/<%= user._id %>" method="post">
                              <button type="submit" class="delete">
                                <i class="ri-delete-bin-2-line"></i>
                              </button>
                            </form>
                          </td>
                        </tr>
                        <% totalQtyAcp +=item.quantity; %>
                          <% }); %>
                            <tr class="total">
                              <td>Grand Total</td>
                              <td colspan="2">
                                <span id="totalQtyAcp">
                                  <%= totalQtyAcp %>
                                </span>
                              </td>
                            </tr>
                  </tbody>
                </table>
                <form action="/user/checkout/<%= user._id %>/?brand=Acp" method="post">
                  <button type="submit" class="checkout">Proceed To Checkout</button>
                </form>
              </div>
              <% } %>
                <% if (mixProducts.length> 0) { %>
                  <div class="product-section mix-section">
                    <h2>Mix Products</h2>
                    <table>
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let totalQtyMix=0; %>
                          <% mixProducts.forEach(item=> { %>
                            <tr>
                              <td>
                                <%= item.productId.name %>
                              </td>
                              <td id="qty-<%= item.productId._id %>" class="qty">
                                <button
                                  onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', -1, '<%= item.brand %>')">
                                  -
                                </button>
                                <span class="quantity">
                                  <%= item.quantity %>
                                </span>
                                <button
                                  onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', 1, '<%= item.brand %>')">
                                  +
                                </button>
                              </td>
                              <td>
                                <form action="/user/cart/delete/<%= item.productId._id %>/<%= user._id %>"
                                  method="post">
                                  <button type="submit" class="delete">
                                    <i class="ri-delete-bin-2-line"></i>
                                  </button>
                                </form>
                              </td>
                            </tr>
                            <% totalQtyMix +=item.quantity; %>
                              <% }); %>
                                <tr class="total">
                                  <td>Grand Total</td>
                                  <td colspan="2">
                                    <span id="totalQtyMix">
                                      <%= totalQtyMix %>
                                    </span>
                                  </td>
                                </tr>
                      </tbody>
                    </table>
                    <form action="/user/checkout/<%= user._id %>/?brand=Mix" method="post">
                      <button type="submit" class="checkout">Proceed To Checkout</button>
                    </form>
                  </div>
                  <% } %>
                    <div class="end">
                      <a href="/user" class="continue">Continue Shopping</a>
                    </div>
          </div>
          <% } else { %>
            <div class="empty">
              <p>Your cart is empty.</p>
              <a href="/user" class="continue">Continue Shopping</a>
            </div>
            <% } %>

              <script>
                function updateQuantity(productId, userId, change, brand) {
                  const quantityElement = document.querySelector(
                    `#qty-${productId} .quantity`
                  );
                  const currentQuantity = parseInt(quantityElement.innerText);
                  const newQuantity = currentQuantity + change;

                  if (newQuantity < 1) {
                    alert("Quantity cannot be less than 1.");
                    return;
                  }
                  if (newQuantity > 1000) {
                    alert(`Quantity cannot be greater than stock (1000).`);
                    return;
                  }

                  fetch(`/user/cart/update`, {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                      productId,
                      userId,
                      quantity: newQuantity,
                      brand,
                    }),
                  })

                    .then((response) => response.json())
                    .then((data) => {
                      if (data.success) {
                        quantityElement.innerText = newQuantity;
                        updateTotalQuantity(brand); // Update total quantity after successful update
                      } else {
                        console.error("Failed to update quantity:", data.error);
                        alert("Failed to update quantity: " + data.error);
                      }
                    })
                    .catch((error) => {
                      console.error("Error:", error);
                      alert("Failed to update quantity: " + error.message);
                    });
                } function updateTotalQuantity(brand) {
                  // Calculate total quantity dynamically from displayed quantities
                  let totalQty = 0;
                  document
                    .querySelectorAll(`.product-section.${brand.toLowerCase()}-section .quantity`)
                    .forEach((element) => {
                      totalQty += parseInt(element.innerText);
                    });
                  document.getElementById(`totalQty${brand}`).innerText = totalQty;
                }
              </script>