<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %> Cart</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/admin-navbar.css" />
    <link rel="stylesheet" href="/styles/user/cart.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/navbar.ejs') %> <%- include('../partials/flash.ejs') %>
    <% if (filteredItems.length > 0) { %>
    <h1><%= user.username %> Cart</h1>
    <div class="buttons">
      <button onclick="filterCategory('')">ALL</button>
      <button onclick="filterCategory('mix')">MIX</button>
      <button onclick="filterCategory('acp')">ACP</button>
    </div>

    <!-- Cart Items -->
    <div class="cart-items">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Del</th>
          </tr>
        </thead>
        <tbody>
          <% let grandTotal = 0; let totalQuantity = 0; %> <%
          filteredItems.forEach(function(item) { %> <% let total =
          item.productId.price * item.quantity; %> <% grandTotal += total; %> <%
          totalQuantity += item.quantity; %>
          <tr>
            <td><%= item.productId.name %></td>
            <td><%= item.productId.price %></td>
            <td id="qty">
              <button
                onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', -1)"
              >
                -
              </button>
              <span id="quantity-<%= item.productId._id %>"
                ><%= item.quantity %></span
              >
              <button
                onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', 1)"
              >
                +
              </button>
            </td>
            <td id="total-<%= item.productId._id %>"><%= total %></td>
            <td>
              <form action="/admin/user/delete/<%= user._id %>" method="post">
                <button type="submit" class="delete">
                  <i class="ri-delete-bin-2-line"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }); %>
          <tr class="total">
            <td colspan="2">Grand Total</td>
            <td id="totalQuantity"><%= totalQuantity %></td>
            <td colspan="2" id="grandTotal"><%= grandTotal %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="end">
      <a href="/user" class="continue">Continue Shopping</a>
    </div>
    <form action="/user/checkout/<%= user._id %>" method="post">
      <button type="submit" class="checkout">Proceed To Checkout</button>
    </form>
    <% } else { %>
    <div class="empty">
      <p>Your cart is empty.</p>
      <a href="/user" class="continue">Continue Shopping</a>
    </div>
    <% } %>

    <script>
      function filterCategory(category) {
        category
          ? (window.location.href = "/user/cart/<%= user._id %>?c=" + category)
          : (window.location.href = "/user/cart/<%= user._id %>");
      }

      function updateQuantity(productId, userId, change) {
        const quantityElement = document.getElementById(
          `quantity-${productId}`
        );
        const totalElement = document.getElementById(`total-${productId}`);
        const grandTotalElement = document.getElementById("grandTotal");
        const totalQuantityElement = document.getElementById("totalQuantity");

        if (
          !quantityElement ||
          !totalElement ||
          !grandTotalElement ||
          !totalQuantityElement
        ) {
          console.error("One or more elements not found.");
          return;
        }

        const newQuantity = parseInt(quantityElement.innerText) + change;
        if (newQuantity < 1) return;

        fetch(`/user/cart/update`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            productId,
            userId,
            quantity: newQuantity,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              quantityElement.innerText = newQuantity;
              totalElement.innerText = data.updatedTotal;
              grandTotalElement.innerText = data.updatedGrandTotal;
              totalQuantityElement.innerText = data.updatedTotalQuantity;
            } else {
              console.log(data); // Log the error response for debugging
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("Failed to update quantity" + error.message);
          });
      }
    </script>
  </body>
</html>
