<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %> Cart</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/admin-navbar.css" />
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "poppins";
    }

    h1 {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
    }

    .cart-items {
      margin: 5px auto;
      margin-bottom: 110px;
      max-width: 96vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .acp,
    .mix {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12px;
    }

    .acp h2,
    .mix h2 {
      font-weight: 500;
      color: #d4af37;
    }

    table {
      width: 100%;
      border: 1px solid white;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid white;
      text-align: center;
      font-size: 17px;
      padding: 5px 5px;
    }

    th {
      font-size: 20px;
      font-weight: 500;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form button {
      border: none;
      outline: none;
      cursor: pointer;
    }

    .delete i {
      color: red;
      font-size: 1.35rem;
    }

    .checkout {
      padding: 5px 8px;
      background: #d4af37;
      border-radius: 5px;
      font-size: 1.2rem;
      color: black;
    }

    .end {
      text-align: center;
    }

    a.continue {
      color: #d4af37;
    }

    a.continue:hover {
      text-decoration: underline;
    }

    a.continue:active {
      text-decoration: underline;
    }

    .empty {
      text-align: center;
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .empty p {
      color: gray;
    }

    #qty button {
      border: none;
      outline: none;
      padding: 2px 3px;
      font-size: 1.4rem;
    }

    #qty span {
      margin: 0 3px;
    }
  </style>
  <body>
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/navbar.ejs') %> <%- include('../partials/flash.ejs') %>
    <% if (cartItem.length > 0) { %>
    <h1><%= user.username %> Cart</h1>

    <div class="cart-items">
      <% if (acpProducts.length) { %>
      <div class="acp">
        <h2>Acp Products</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Del</th>
            </tr>
          </thead>
          <tbody>
            <% let totalQtyAcp = 0; let grandTotalAcp = 0;
            acpProducts.forEach(item => { totalQtyAcp += item.quantity; let
            totalAmount = item.productId.price * item.quantity; grandTotalAcp +=
            totalAmount; %>
            <tr>
              <td><%= item.productId.name %></td>
              <td><%= item.productId.price.toLocaleString() %></td>
              <td id="qty">
                <button
                  onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', -1, 'acp', <%= item.productId.stock %>)"
                >
                  -
                </button>
                <span id="quantity-<%= item.productId._id %>"
                  ><%= item.quantity %></span
                >
                <button
                  onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', 1, 'acp', <%= item.productId.stock %>)"
                >
                  +
                </button>
              </td>
              <td id="total-<%= item.productId._id %>"><%= totalAmount %></td>
              <td>
                <form
                  action="/user/cart/delete/<%= item.productId._id %>/<%= user._id %>"
                  method="post"
                >
                  <button type="submit" class="delete">
                    <i class="ri-delete-bin-2-line"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
            <tr class="total">
              <td colspan="2">Grand Total</td>
              <td id="totalQuantityAcp"><%= totalQtyAcp %></td>
              <td colspan="2" id="grandTotalAcp"><%= grandTotalAcp %></td>
            </tr>
          </tbody>
        </table>
        <form
          action="/user/checkout/<%= user._id %>/?category=acp"
          method="post"
        >
          <button type="submit" class="checkout">Proceed To Checkout</button>
        </form>
      </div>
      <% } %> <% if (mixProducts.length) { %>
      <div class="mix">
        <h2>Mix Products</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Del</th>
            </tr>
          </thead>
          <tbody>
            <% let totalQtyMix = 0; let grandTotalMix = 0;
            mixProducts.forEach(item => { totalQtyMix += item.quantity; let
            totalAmount = item.productId.price * item.quantity; grandTotalMix +=
            totalAmount; %>
            <tr>
              <td><%= item.productId.name %></td>
              <td><%= item.productId.price.toLocaleString() %></td>
              <td id="qty">
                <button
                  onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', -1, 'mix', <%= item.productId.stock %>)"
                >
                  -
                </button>
                <span id="quantity-<%= item.productId._id %>"
                  ><%= item.quantity %></span
                >
                <button
                  onclick="updateQuantity('<%= item.productId._id %>', '<%= user._id %>', 1, 'mix', <%= item.productId.stock %>)"
                >
                  +
                </button>
              </td>
              <td id="total-<%= item.productId._id %>"><%= totalAmount %></td>
              <td>
                <form
                  action="/user/cart/delete/<%= item.productId._id %>/<%= user._id %>"
                  method="post"
                >
                  <button type="submit" class="delete">
                    <i class="ri-delete-bin-2-line"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
            <tr class="total">
              <td colspan="2">Grand Total</td>
              <td id="totalQuantityMix"><%= totalQtyMix %></td>
              <td colspan="2" id="grandTotalMix"><%= grandTotalMix %></td>
            </tr>
          </tbody>
        </table>
        <form
          action="/user/checkout/<%= user._id %>/?category=mix"
          method="post"
        >
          <button type="submit" class="checkout">Proceed To Checkout</button>
        </form>
      </div>
      <% } %>

      <div class="end">
        <a href="/user" class="continue">Continue Shopping</a>
      </div>
    </div>

    <% } else { %>
    <div class="empty">
      <p>Your cart is empty.</p>
      <a href="/user" class="continue">Continue Shopping</a>
    </div>
    <% } %>

    <script>
      function updateQuantity(productId, userId, change, category, stock) {
        const quantityElement = document.getElementById(
          `quantity-${productId}`
        );
        const totalElement = document.getElementById(`total-${productId}`);
        const grandTotalElement = document.getElementById(
          category === "acp" ? "grandTotalAcp" : "grandTotalMix"
        );
        const totalQuantityElement = document.getElementById(
          category === "acp" ? "totalQuantityAcp" : "totalQuantityMix"
        );

        if (
          !quantityElement ||
          !totalElement ||
          !grandTotalElement ||
          !totalQuantityElement
        ) {
          console.error("One or more elements not found.");
          return;
        }

        const currentQuantity = parseInt(quantityElement.innerText);
        const newQuantity = currentQuantity + change;
        if (newQuantity < 1) {
          alert("Quantity cannot be less than 1.");
          return;
        }
        if (newQuantity > stock) {
          alert("Quantity cannot be greater than stock (" + stock + ").");
          return;
        }

        fetch(`/user/cart/update`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            productId,
            userId,
            quantity: newQuantity,
            category: category,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              quantityElement.innerText = newQuantity;
              totalElement.innerText = data.updatedTotal.toLocaleString();
              grandTotalElement.innerText =
                data.updatedGrandTotal.toLocaleString();
              totalQuantityElement.innerText = data.updatedTotalQuantity;
            } else {
              console.error("Failed to update quantity:", data.error);
              alert("Failed to update quantity: " + data.error);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("Failed to update quantity: " + error.message);
          });
      }
    </script>
  </body>
</html>
