<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment | Crown Sourcing</title>
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />
    <link rel="stylesheet" href="/styles/partials/admin-navbar.css" />
    <link rel="stylesheet" href="/styles/user/payment.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/navbar.ejs') %> <%- include('../partials/flash.ejs') %>

    <div class="container">
      <!-- Payment section for ACP -->
      <div class="payment">
        <h1>Make a Payment for ACP</h1>
        <p>
          Your current balance: <strong>ACP: Rs <%= user.balanceACP %></strong>
        </p>

        <form
          action="/user/payment/acp/<%= user._id %>"
          method="POST"
          class="amount-form"
        >
          <div class="amount">
            <label for="amountACP"><strong>Amount: </strong></label>
            <input
              type="text"
              id="amountACP"
              name="amountACP"
              required
              oninput="formatNumberInput(this)"
            />
          </div>
          <button type="submit">Submit Payment for ACP</button>
        </form>
      </div>

      <!-- Payment section for Mix -->
      <div class="payment">
        <h1>Make a Payment for Mix</h1>
        <p>
          Your current balance: <strong>Mix: Rs <%= user.balanceMix %></strong>
        </p>

        <form
          action="/user/payment/mix/<%= user._id %>"
          method="POST"
          class="amount-form"
        >
          <div class="amount">
            <label for="amountMix"><strong>Amount: </strong></label>
            <input
              type="text"
              id="amountMix"
              name="amountMix"
              required
              oninput="formatNumberInput(this)"
            />
          </div>
          <button type="submit">Submit Payment for Mix</button>
        </form>
      </div>

      <div class="previous">
        <h2>Previous Payments</h2>
        <% if (payments.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Amount</th>
              <th>Cat</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% payments.reverse().forEach(payment => { %>
            <tr>
              <td><%= payment.userPaymentId %></td>
              <td><%= payment.amount.toLocaleString() %></td>
              <td><%= payment.category %></td>
              <td class="<%= payment.status.toLowerCase() %>">
                <%= payment.status %>
              </td>
              <td><%= formatDate(new Date(payment.createdAt)) %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <p style="color: white">End of List</p>
        <% } else { %>
        <p>No previous payments found.</p>
        <% } %>
      </div>
    </div>

    <script>
      function formatNumberInput(input) {
        // Remove non-digit characters
        let value = input.value.replace(/\D/g, "");

        // Format with commas
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        // Update the input value
        input.value = value;
      }
    </script>
  </body>
</html>
