<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> | Crown Sourcing</title>
    <link rel="stylesheet" href="/styles/partials/admin-navbar.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/flash.css">
</head>
<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 100px;
}

.img img {
  width: 85vw;
  height: 26vh;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-transform: capitalize;
  margin: 10px auto;
}

.info h1 {
  font-size: 2rem;
  font-weight: 500;
}

.info h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
}

.info p {
  font-size: 1.3rem;
}

p.price {
  color: goldenrod;
  font-size: 1.4rem;
}

p.category {
  color: cornflowerblue;
}

p.in-stock {
  color: greenyellow;
}

p.out-of-stock {
  color: red;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: antiquewhite;
  border-radius: 5px;
  width: 120px;
}

.qty input {
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.3rem;
  width: fit-content;
  color: black;
  background: antiquewhite;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 50px;
}

.qty button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
  background: antiquewhite;
  color: rgb(23, 23, 23);
}

button[type="submit"] {
    background-color: #d4af37;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: #1c1c1c;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 25px;
    font-weight: 500;
    text-transform: uppercase;
}
</style>
<body>
    <%- include('../partials/header.ejs')  %>
    <%- include('../partials/navbar.ejs')  %>
    <%- include('../partials/flash.ejs')  %>
    <main>
        <div class="img">
            <img src="data:<%= product.image.contentType %>;base64,<%= product.image.data.toString('base64') %>" alt="Product Image">
        </div>
        <div class="info">
            <h1><%= product.name %></h1>
            <h2><%= product.description %></h2>
            <p class="price">Rs : <%= product.price %> Only </p>
            <p class="category">Category : <%= product.category %></p>
            <p class="<%= product.stock ? "in-stock" : "out-of-stock" %>"><%= product.stock ? "Hurry up only " + product.stock + " pcs remaining" : "Sorry product is out of stock" %></p>
        </div>
        <form action="/user/cart/add" method="post">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <input type="hidden" name="userId" value="<%= user._id %>">
            <input type="hidden" name="category" value="<%= product.category %>">
            <div class="quantity">
                <div class="qty">
                    <button type="button" id="decrement" onclick="decrementQty()">-</button>
                    <input type="number" name="quantity" id="qty" value="1" min="1" max="<%= product.stock %>" required readonly>
                    <button type="button" id="increment" onclick="incrementQty()">+</button>
                </div>
            </div>
            <button type="submit">Add to Cart</button>
        </form>
        
        
    </main>
    <script>
        function incrementQty() {
            var qtyInput = document.getElementById('qty');
            var maxQty = parseInt(qtyInput.max);
            var currentQty = parseInt(qtyInput.value);
            if (currentQty < maxQty) {
                qtyInput.value = (currentQty + 1).toString().padStart(2, '0');
            }
        }

        function decrementQty() {
            var qtyInput = document.getElementById('qty');
            var minQty = parseInt(qtyInput.min);
            var currentQty = parseInt(qtyInput.value);
            if (currentQty > minQty) {
                qtyInput.value = (currentQty - 1).toString().padStart(2, '0');
            }
        }
    </script>
</body>
</html>
